[Unit]
Description=Kiosk Video Player
After=network.target
After=graphical.target

[Service]
Type=simple
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/bin/bash /System/Volumes/Data/Proyectos Temp/infoactive 2024/new-player/start-kiosk.sh
Restart=always
RestartSec=3

[Install]
WantedBy=graphical.target
