RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
PassengerEnabled On
PassengerPython /home/YOUR_USERNAME/virtualenv/backend/3.8/bin/python3

<Files "passenger_wsgi.py">
    Require all granted
</Files>

# Allow access to static files
<Directory "static">
    Options +Indexes
    Require all granted
</Directory>

# Allow access to uploaded files
<Directory "files">
    Options +Indexes
    Require all granted
</Directory>
