[Unit]
Description=Browser Manager Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/kiosk/manage_browser.py
Restart=always
User=infoactive
Group=infoactive
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/infoactive/.Xauthority
# Add supplementary groups for display access
SupplementaryGroups=video input gpio
# Working directory
WorkingDirectory=/var/www/kiosk
# Give a reasonable amount of time for the service to start
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target
