[Unit]
Description=Browser Manager Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /var/www/kiosk/manage_browser.py
Restart=always
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority

[Install]
WantedBy=multi-user.target
