[Unit]
Description=Device Monitor Service
After=network.target

[Service]
Type=simple
User=infoactive
Environment=PYTHONUNBUFFERED=1
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=/var/www/kiosk
ExecStart=/usr/bin/python3 /var/www/kiosk/device_monitor.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
