[Unit]
Description=Device Monitor Service
After=network.target

[Service]
Type=simple
User=infoactive
WorkingDirectory=/var/www/kiosk
ExecStart=/usr/bin/python3 /var/www/kiosk/device_monitor.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
