[Unit]
Description=Device Monitor Service
After=network.target

[Service]
Type=simple
User=infoactive
Environment=PYTHONPATH=/usr/local/lib/python3.9/dist-packages:/usr/lib/python3/dist-packages
WorkingDirectory=/var/www/kiosk
ExecStartPre=/usr/bin/pip3 install requests
ExecStart=/usr/bin/python3 /var/www/kiosk/device_monitor.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
